.search-bar{
    width: 100%;
    max-height: 61px;
    border-bottom: 1px solid lightgrey;
    position: fixed;
    top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.search-bar .search-bar-items{
    max-width: 1200px;
    max-height: 77px;
    height: 77px;
    margin: 15px auto;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.search-bar .search-bar-items .logo-icon{
    width: 24px;
    height: 24px;
    background-image: url(./imgs/insta-searchbar-logo-icon.png);
    background-size: contain;
    margin-right: 20px;
    justify-content: center;
    cursor: pointer;
}

.search-bar .search-bar-items .logo-break{
    width: 1px;
    height: 28px;
    border-left: 1.25px solid black;
    justify-content: center;
}

.search-bar .search-bar-items .logo-word{
    width: 109px;
    height: 29px;
    background-image: url(./imgs/insta-searchbar-logo-word.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -43px;
    outline: 5px solid white;
    outline-offset: -1px;
    margin-left: 20px;
    margin-right: 50px;
    cursor: pointer;
}

.search-bar .search-bar-items .searchbar-form{
    display: inline-flex;
    flex-direction: row;
    border: 1px solid lightgrey;
    border-radius: 4px;
    width: 215px;
    height: 28px;
    align-items: center;
    margin: 0px 125px;
}

.search-bar .search-bar-items .searchbar-form .searchbar-hourglass{
    background-image: url(./imgs/f01fcb405c10.png);
    background-repeat: no-repeat;
    background-position: -437px -344px;
    width: 10px;
    height: 10px;
    position: relative;
    left: 65px;
    background-size: fill;
}


.search-bar .search-bar-items .searchbar-form .top-searchbar{
    width: 199px;
    padding: 2px 5px;
    height: 18px;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: lightgrey;
    text-align: center;
}

.search-bar .search-bar-items .searchbar-form .searchbar-exit{

}

.search-bar .search-bar-items .icon-explore{
    background-image: url(./imgs/c8c6b3ac563b.png);
    background-repeat: no-repeat;
    background-size: fill;
    background-position: -52px -286px;
    height: 24px;
    width: 24px;
    margin: 0px 20px;
    cursor: pointer;
}
.search-bar .search-bar-items .icon-notification{
    background-image: url(./imgs/c8c6b3ac563b.png);
    background-repeat: no-repeat;
    background-size: fill;
    background-position: -271px -233px;
    height: 24px;
    width: 24px;
    margin: 0px 20px;
    cursor: pointer;
}

.search-bar .search-bar-items .icon-profile{
    background-image: url(./imgs/c8c6b3ac563b.png);
    background-repeat: no-repeat;
    background-size: fill;
    background-position: -271px -103px;
    height: 24px;
    width: 24px;
    margin: 0px 20px;
    cursor: pointer;
}