.like-Heart {
  height: 24px;
  width: 24px;
  background-image: url(../icons/c8c6b3ac563b.png);
  background-size: fill;
  background-repeat: no-repeat;
  background-position: -271px -233px;
  margin-left: 20px;
  margin-right: 20px;
}

.comment-Bubble {
  height: 24px;
  width: 24px;
  background-image: url(../icons/c8c6b3ac563b.png);
  background-size: fill;
  background-repeat: no-repeat;
  background-position: -161px -202px;
}
