.posts-containers {
  position: relative;
  top: 50px;
  max-width: 614px;
  margin: 0px auto;
  margin-top: 50px;
}
.posts-containers .post-header {
  max-width: 900px;
  width: 612px;
  height: 75px;
  border: 1px solid silver;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.posts-containers .post-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 20px;
}
.posts-containers .post-header .username {
  margin-left: 20px;
}

.posts-containers .post-picture {
  position: relative;
  z-index: +1;
  max-width: 614px;
  width: 614px;
}

.comment-section {
  position: relative;
  top: 46px;
  max-width: 612px;
  margin: 0px auto;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
}

.post-comments {
  text-align: left;
}

.comments-section {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.comments-section strong {
  margin-left: 15px;
  margin-right: 25px;
  font-size: 12px;
  cursor: pointer;
}

.comments-section p {
  font-size: 12px;
}

.comment-input {
  position: relative;
  top: 45px;
  width: 612px;
  height: 57px;
  margin: 0px auto;
  border: 1px solid silver;
}

.comment-input input {
  position: relative;
  border: none;
  width: 587px;
  height: 56px;
  padding-left: 25px;
  border-bottom: 1px solid silver;
}

.interaction-btns {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  width: 612px;
  height: 40px;
  border-right: 1px solid silver;
  border-left: 1px solid silver;
  border-top: 1px solid silver;
  align-items: center;
  margin-bottom: -5px;
  margin-top: -6px;
  padding: 5px 0px;
}

.interaction-btns .like-btn {
  width: 24px;
  height: 24px;
  background-image: url(./imgs/c8c6b3ac563b.png);
  background-size: fill;
  background-position: -271px -234px;
  margin: 0px 20px;
  cursor: pointer;
}

.interaction-btns .comment-btn {
  width: 24px;
  height: 24px;
  background-image: url(./imgs/c8c6b3ac563b.png);
  background-size: fill;
  background-position: -161px -202px;
  cursor: pointer;
}

.interaction-btns .share-btn {
  width: 24px;
  height: 24px;
  background-image: url(./imgs/c8c6b3ac563b.png);
  background-size: fill;
  background-position: -286px -286px;
  margin: 0px 20px;
  cursor: pointer;
}

.like-counter {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-left: 15px;
  max-height: 25px;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
}

.timestamp-container {
  position: relative;
  top: 45px;
  max-width: 612px;
  margin: 0px auto;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 0px;
}

.timestamp-container .timestamp {
  padding-left: 15px;
  font-size: 12px;
  color: grey;
}
